<!-- INCLUDE overall_header.html -->
<!-- INCLUDEJS czphpbb_dkp_util.js -->
<!-- INCLUDECSS ../theme/custom.css -->
<div style="width: 100%; overflow: hidden;">
<div style="width: 150px; float: left;">
<!-- INCLUDE roster_menu.html -->
</div>
<div style="margin-left: 151px;">
<h2 class="solo">{PAGE_TITLE}</h2>
<br/>
<div class="forumbg forumbg-table" style="width: 600px; overflow: auto;"/>
	<table class="table2">
		<thead>
			<tr><th class="text-button togglelist" id="item">{L_SUMMARY}</th></tr>
		</thead>
	</table>
	<div id="sumlist" class="attendance-table"/>
		<div style="width: 595px; float: left; margin: 2px;">
			<table class="table2">
				<thead>
					<tr>
						<th class="name">{L_CHAR_ROLE}</th>
						<th class="center">{L_COUNT}</th>
						<th class="center">{L_MIN}</th>
						<th class="center">{L_AVG}</th>
						<th class="center">{L_MAX}</th>
					</tr>
				</thead>
				<tbody>
					<!-- BEGIN summary -->
					<tr class="<!-- IF summary.S_ROW_COUNT is even -->bg1<!-- ELSE -->bg2<!-- ENDIF -->">
						<td class="name">{summary.CATEGORY}</td>
						<td class="center">{summary.COUNT}</td>
						<td class="center">{summary.MIN}</td>
						<td class="center">{summary.AVG}</td>
						<td class="center">{summary.MAX}</td>
					</tr>
					<!-- END summary -->
				</tbody>
			</table>
		</div>
	</div>
</div>
<div class="forumbg forumbg-table" style="width: 600px; overflow: auto;"/>
	<table class="table2">
		<thead>
			<tr><th class="text-button togglelist" id="item">{L_DETAILS}</th></tr>
		</thead>
	</table>
	<div id="itemlist" class="attendance-table"/>
		<div style="width: 595px; float: left; margin: 2px;">
			<table class="table2">
				<thead>
					<tr>
						<th class="name">{L_DATE}</th>
						<th class="center">{L_DESCRIPTION}</th>
						<th class="center">{L_AWARDEDTO}</th>
						<th class="center">{L_COST}</th>
						<th class="center">{L_POOL}</th>
					</tr>
				</thead>
				<tbody>
					<!-- BEGIN row -->
					<tr class="<!-- IF row.S_ROW_COUNT is even -->bg1<!-- ELSE -->bg2<!-- ENDIF -->">
						<td class="name">{row.DATE}</td>
						<td class="center">{row.DESC}</td>
						<td class="center">{row.AWARDED}</td>
						<td class="center">{row.COST}</td>
						<td class="center">{row.POOL}</td>
					</tr>
					<!-- END row -->
				</tbody>
			</table>
		</div>
	</div>
</div>
<!-- INCLUDE jumpbox.html -->
<!-- INCLUDE overall_footer.html -->
