<!-- INCLUDE overall_header.html -->
<!-- INCLUDEJS jquery-ui/jquery-ui.min.js -->
<!-- INCLUDEJS eq_dkp_util.js -->
<!-- INCLUDEJS dkp_adjustment.js -->
<!-- INCLUDECSS jquery-ui/jquery-ui.min.css -->
<!-- INCLUDECSS ../theme/custom.css -->
<script type="text/javascript">
var eqDKPcharlist = '{U_FULLCHARLIST}';
var eqDKPbulkadj = '{U_BULK_ADJ}';
var eqDKPaddadj = '{U_ADD_ADJ}';
var eqDKPgetalldkp = '{U_GETALLDKP}';
var mainTick = '{V_MAINTICK}';
var secondTick = '{V_SECONDTICK}';
</script>

<div style="width: 100%; overflow: hidden;">
	<div style="width: 150px; float: left;">
<!-- INCLUDE roster_menu.html -->
	</div>
	<div style="margin-left: 151px;">
		<h2 class="solo">{PAGE_TITLE}</h2>
		<div class="navbar">
			<div class="inner">
				<ul class="dkpadjust">
					<li>Use a negative number for a penalty (-5), a positive number for a bonus (5).</li>
					<li>If the value is a percentage of the member's DKP, follow the number with a percent sign (-10%).</li>
					<li>If the value is in terms of "ticks" (which means the value is different for the main and 2nd main DKP pools) follow the amount with the word "tick" (1 tick).</li>
					<li>To do bulk adjustments, leave the character name blank.  The adjustment will be applied to all members.  Alternatively, either upload a list of names or a raid dump.  Then the adjustment will be applied only to members in the upload.</li>
					<li>If uploading a file, you can leave the adjustment value blank, and instead, include it in the file, as the last entry per line.</li>
				</ul>
			</div>
		</div>
		<br/>
		<form id="dkp_adjustment" method="post" action="{U_ADJUSTMENTS}" enctype="multipart/form-data">

			<div class="forumbg forumbg-table" style="width: 800px; overflow: auto;">
				<table class="table2">
					<thead>
						<tr><th>{L_ADJUSTMENT}</th></tr>
					</thead>
				</table>
				<div style="width: 100%; margin-bottom: 10px; overflow: auto;">
					<div id="adjpreview" class="adjustment-table">
					</div>
					<input style="float: right; margin-right: 5px" type="submit" id="submitadj" name="submitadj" value="{L_SUBMIT}" title="Submit all adjustments listed in the preview panel" class="button1" />
				</div>
				<div class="inner bg2" style="padding: 2px;">
					<input type="hidden" name="adjid" id="adjid"/>
					<label for="adjname"><strong>Character name{L_COLON}</strong></label>
					<input type="text" class="inputbox autowidth" name="adjname" id="adjname" size="20"><br/>
					<label for="adjdesc"><strong>Adjustment Description{L_COLON}</strong></label>
					<input type="text" class="inputbox autowidth" name="adjdesc" id="adjdesc" size="40"></br>
					<label for="adjvalue"><strong>Adjustment Value{L_COLON}</strong></label>
					<input type="text" class="inputbox autowidth" name="adjvalue" id="adjvalue" size="5"></br>
					<label for="adjpool"><strong>Applies to{L_COLON}</strong></label>
					<input type="checkbox" id="adjpoolmain" name="adjpoolmain" value="Main" checked>Main Pool
					<input type="checkbox" id="adjpoolsecond" name="adjpoolsecond" value="Second">2nd Main Pool<br/>
					<label for="adjfile"><strong>Adjustment file{L_COLON}</strong></label>
					<input type="file" name="adjfile" id="adjfile" accept="text/plain"/>
					<br/><br/>
					<input type="submit" id="previewadj" name="previewadj" value="{L_PREVIEW}" title="Preview changes" class="button1" />
					<input type="submit" id="submitsingle" name="submitsingle" value="{L_SUBMIT}" title="Submit single adjustment without preview" class="button1" />
				</div>
			</div>
			<fieldset>
				{S_HIDDEN_FIELDS}
				{S_FORM_TOKEN}
			</fieldset>
		</form>
	</div>
</div>
<!-- INCLUDE jumpbox.html -->
<!-- INCLUDE overall_footer.html -->
