<!-- INCLUDE overall_header.html -->
<!-- INCLUDECSS custom.css -->
<div style="width: 100%; overflow: hidden;">
<div style="width: 150px; float: left;">
<!-- INCLUDE roster_menu.html -->
</div>
<div style="margin-left: 151px;">
<h2 class="solo">{PAGE_TITLE}</h2>

	<div class="action-bar bar-top">
		<div class="member-search panel">
			<!-- BEGIN filter_class -->
				<!-- IF filter_class.S_SELECTED --><strong><!-- ENDIF -->
					<a href="{filter_class.U_SORT}">{filter_class.DESC}</a>&nbsp;
				<!-- IF filter_class.S_SELECTED --></strong><!-- ENDIF -->
			<!-- END filter_class -->
		</div>

		<div class="pagination">
			{TOTAL_CHARACTERS}
			<!-- IF .pagination -->
				<!-- INCLUDE pagination.html -->
			<!-- ELSE -->
				 &bull; {PAGE_NUMBER}
			<!-- ENDIF -->
		</div>
	</div>

	<div class="forumbg forumbg-table">
		<div class="inner">

		<table class="table1 memberlist" id="memberlist">
		<thead>
		<tr>
			<th class="name"><a title="{L_SORT_CHARNAME}" href="{U_SORT_CHARNAME}">{L_CHAR_NAME}</a></th>
			<th class="name"><a title="{L_SORT_CLASS}" href="{U_SORT_CHARCLASS}">{L_CHAR_CLASS}</a></th>
			<th class="posts"><a title="{L_SORT_DKP}" href="{U_SORT_CURDKP}">{L_CURRENT_DKP}</a></th>
			<th class="posts"><a title="{L_SORT_SCNDDKP}" href="{U_SORT_SCNDDKP}">{L_SECOND_DKP}</a></th>
			<th class="posts"><a title="{L_SORT_PERC}" href="{U_SORT_PERC}">{L_RAID_PERC}</a></th>
			<th class="posts"><a title="{L_SORT_90PERC}" href="{U_SORT_90PERC}">{L_RAID_90PERC}</a></th>
			<th class="posts"><a title="{L_SORT_60PERC}" href="{U_SORT_60PERC}">{L_RAID_60PERC}</a></th>
			<th class="posts"><a title="{L_SORT_30PERC}" href="{U_SORT_30PERC}">{L_RAID_30PERC}</a></th>
			<th class="joined"><a title="{L_SORT_FIRSTRAID}" href="{U_SORT_FIRST_RAID}">{L_FIRST_RAID}</a></th>
			<th class="joined"><a title="{L_SORT_LASTRAID}" href="{U_SORT_LAST_RAID}">{L_LAST_RAID}</a></th>
		</tr>
		</thead>
		<tbody>
		<!-- BEGIN characterrow -->
	<tr class="<!-- IF characterrow.S_ROW_COUNT is even -->bg1<!-- ELSE -->bg2<!-- ENDIF -->">
		<td>{characterrow.CHARNAME}</td>
		<td>{characterrow.CHARCLASS}</td>
		<td class="posts"><a class="text-button" title="Detailed Breakdown" href="{characterrow.U_MDKP_DETAIL}">{characterrow.CURRENTDKP}</a></td>
		<td class="posts"><a class="text-button" title="Detailed Breakdown" href="{characterrow.U_SDKP_DETAIL}">{characterrow.SECONDDKP}</a></td>
		<td class="dkp" title="{characterrow.RA_DESC}">{characterrow.RA_PERC}</td>
		<td class="dkp" title="{characterrow.RA_90DESC}">{characterrow.RA_90PERC}</td>
		<td class="dkp" title="{characterrow.RA_60DESC}">{characterrow.RA_60PERC}</td>
		<td class="dkp" title="{characterrow.RA_30DESC}">{characterrow.RA_30PERC}</td>
		<td>{characterrow.FIRSTRAID}</td>
		<td>{characterrow.LASTRAID}</td>
	</tr>
		<!-- BEGINELSE -->
	<tr class="bg1">
		<td colspan="5">{L_NO_MEMBERS}</td>
	</tr>
		<!-- END characterrow -->
	</tbody>
	</table>

	</div>
</div>

<div class="action-bar bar-bottom">
	<div class="pagination">
		{TOTAL_CHARACTERS}
		<!-- IF .pagination -->
			<!-- INCLUDE pagination.html -->
		<!-- ELSE -->
			 &bull; {PAGE_NUMBER}
		<!-- ENDIF -->
	</div>
</div>
</div>
</div>
<!-- INCLUDE jumpbox.html -->
<!-- INCLUDE overall_footer.html -->
