<!-- INCLUDE ucp_header.html -->
<!-- INCLUDECSS ../theme/custom.css -->
<form id="ucp" method="post" action="{S_UCP_ACTION}">
	<div class="panel">
		<div class="inner">
			<!-- IF S_DKP_NOCHARS -->
			No characters associated with this account.
			<!-- ELSE -->
			<div class="forumbg forumbg-table">
				<div class="inner">
					<table class="table2">
						<thead>
							<tr><th class="name">{L_CHAR_NAME}</th><th class="name">{L_CHAR_CLASS}</th><th class="name">{L_CHAR_ROLE}</th><th>{L_DELETE}</th></tr>
						</thead>
						<tbody>
							<!-- BEGIN charlist -->
							<fieldset>
							<tr class="<!-- IF charlist.S_ROW_COUNT is even -->bg1<!-- ELSE -->bg2<!-- ENDIF -->">
								<td class="username">{charlist.NAME}</td>
								<td class="info"><select name="bum_dkp_changeclass_{charlist.ID}">{charlist.CLASS_OPTIONS}</select></td>
								<td class="info"><select name="bum_dkp_changerole_{charlist.ID}">{charlist.ROLE_OPTIONS}</select></td>
								<td class="center"><input type="checkbox" name="bum_dkp_delchar_{charlist.ID}" value="Delete"/></td>
							</tr>
							</fieldset>
							<!-- END charlist -->
						</tbody>
					</table>
				</div>
			</div>
			<input type="submit" name="updchar" value="Update" class="button1" />
			<!-- ENDIF -->
		</div>
	</div>
	<div class="panel">
		<fieldset>
			<label for="bum_dkp_newcharname">{L_CHAR_NAME}{L_COLON}</label>&nbsp;
			<input type="text" class="inputbox autowidth" name="bum_dkp_newcharname" id="bum_dkp_newcharname" size="20" maxlength="40" value="" />&nbsp;
			<label for="bum_dkp_newcharclass">{L_CHAR_CLASS}{L_COLON}</label>&nbsp;
			<select name="bum_dkp_newcharclass" id="bum_dkp_newcharclass">{S_CLASS_OPTIONS}</select>&nbsp;
			<label for="bum_dkp_newcharrole">{L_CHAR_ROLE}{L_COLON}</label>&nbsp;
			<select name="bum_dkp_newcharrole" id="bum_dkp_newcharrole">{S_ROLE_OPTIONS}</select>&nbsp;
			<input type="submit" name="newchar" value="Add Character" class="button1" />
		</fieldset>
	</div>
	<fieldset>
		{S_HIDDEN_FIELDS}
		{S_FORM_TOKEN}
	</fieldset>
</form>
<!-- INCLUDE ucp_footer.html -->
